{% extends "base.html" %}
{% block content %}


    <form class="search-form text-center" action="/job_offers" method="POST">
        <div class="input text">
            {{ form.technology.label }} {{ form.technology }}
            {{ form.location.label }} {{ form.location }}
        </div>
        <div class="input submit my-5">
            <input type="submit" value="Find"></div>
    </form>

{% endblock %}